$primary: #009999;
$Primary_1: #01A49A;
$Primary_2: #CCEDEB;
$Primary_3: #E6F6F5;
$Secondary_1: #5143D5;
$Secondary_2: #392F95;
$Secondary_4: #857BE2;
$Tertiary_1: #203442;
$Tertiary_2: #364855;
$Tertiary_4: #63717B;
$Tertiary_5: #79858E;
$Tertiary_9: #D2D6D9;
$Tertiary_10: #E9EBEC;
$Success_3: #33691E;
$Success_4: #DCEDC8;
$white: #ffffff;
$Background_2: #F2F5F9;
$Background: #ffffff;
$Error_1: #E53935;
$gray: #BCC2C6;
$Warning_4: #FFECB3;
$Orange: #FF8F00;
$ShadowCardS: 0 2px 5px 0 #C9CFE3BF;
